/**
 * COLORS
 */
// primary color
$bg_blue: #7c5cff;  // 1

$blue_black: darken($bg_blue, 25%);
$blue_matrix: #4A6AF1;
$blue_color_2: #223db1;
$blue_azul: #6d4af8; // 
$blue_light: #80B3D8;
$blue_dirty: #4096A6;
$blue_light_grey: #d9f1f2;

$yellow: #DEAE3D; // 1
$orange: #FF8860; // 1
$red: #D0021B;

$green: #09890c;
$error: $red; // 1


// Decoration color
$hr: #D9D9D9;
$bg_gray: #EFEDED;
$bg_disabled: #F5F7F9;

$text: #252d35;

$white: #fff;
$black: #000;
