.app-header {
    background-color: #eee;
    display: flex;
    align-items: center;
    color: white;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 10px;

        .app-logo {
            height: 60px;
            pointer-events: none;
        }
    }

    .menu-container {
        width: 90%;
        height: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;

        a {
            margin: 5px;
        }
    }
}
